.blog {
  margin-bottom: 107px;
}

.blog__inner {
  max-width: 1170px;
  padding-left: 0;
  padding-right: 0;
}

.blog__header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
  flex-direction: column;
  max-width: 1200px;
  padding-left: 19px;
}

.blog__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Cormorant-Garamond", "Arial", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: 3px;
}

.blog__link-header,
.blog__link {
  font-weight: 500;
  position: relative;
}

.blog__link-header::after,
.blog__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-repeat: no-repeat;
  height: 1px;
  border: 1px solid $brown;
}

.blog__link:hover,
.blog__link:focus,
.blog__link-header:hover,
.blog__link-header:focus {
  opacity: 0.5;
}


.blog__link-header::after {
  width: 64px;
}

.blog__link::after {
  width: 97px;
}

.blog__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.blog__set-of-pictures {
  display: flex;
  flex-direction: column;
}

.blog__item {
  display: grid;
  max-width: 570px;
  grid-template-columns: 1fr 1fr;
}

.blog__item--reverse {
  display: flex;
  flex-direction: row-reverse;
}

.blog__item:not(:last-child) {
  margin-bottom: 30px;
}

.blog__item-desktop {
  position: relative;
}

.blog__information--desktop {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 285px;
  min-height: 300px;
}

.blog__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  background-color: $cards;
  flex-grow: 1;
  padding-top: 63px;
}

.blog__text,
.blog__text-first,
.blog__data {
  margin-top: 0;
}

.blog__data {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: $grey;
}

.blog__text,
.blog__text-first {
  font-family: "Cormorant-Garamond", "Arial", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 33.8px;
}

.blog__text-first {
  margin-bottom: 0;
}

.blog__text {
  margin-bottom: 29px;
}

.blog__image,
.blog__image-desktop {
  height: 100%;
}

.blog__item-tablet {
  display: none;
}


@media (max-width: $max-tablet-width) {
  .blog__item-tablet {
    display: block;
  }

  .blog__item-desktop {
    display: none;
  }

  .blog {
    margin-bottom: 66px;
  }

  .blog__inner {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__gallery {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 46px;
  }

  .blog__item,
  .blog__item--reverse {
    min-width: 678px;
    display: grid;
  }

  .blog__item--reverse .blog__information {
    padding: 65px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .blog__header {
    padding-left: 4px;
    margin-bottom: 66px;
  }

  .blog__title {
    margin-bottom: 19px;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 44px;
  }

  .blog__item-tablet .blog__information {
    padding-top: 84px;
  }
}

@media (max-width: $max-mobile-width) {
  .blog {
    margin-bottom: 62px;
  }

  .blog__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog__gallery {
    justify-items: unset;
    grid-gap: 63px;
  }

  .blog__item {
    min-width: 290px;
    grid-template-columns: 1fr;
  }

  .blog__information {
    padding: 42px;
  }

  .blog__item--tablet {
    padding: 15px;
  }

  .blog__item--reverse {
    display: flex;
    flex-direction: column;
  }

  .blog__header {
    margin-bottom: 55px;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 58px;
  }

  .blog__item--reverse .blog__information {
    padding: 38px;
  }

  .blog__item-tablet .blog__information {
    padding-top: 60px;
    padding-bottom: 72px;
  }
}
