.faq {
  margin-bottom: 108px;
}

.faq__inner {
  max-width: 973px;
  padding-left: 0;
  padding-right: 0;
}

.faq__header {
  margin-bottom: 60px;
  text-align: center;
}

.faq__title-header {
  margin-top: 0;
  font-family: "Cormorant-Garamond", "Arial", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.faq__item {
  position: relative;
  min-width: 100%;
  padding-left: 50px;
}

.faq__item:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 2px solid $brown;
  padding-bottom: 49px;
}

/*.faq__item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  height: 1px;
  border: 1px solid $brown;
  width: 100%;
  bottom: -45px;
  left: 0;
  right: 0;
}*/

.faq__table {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  position: relative;
  //padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px solid $brown;
  max-width: 970px;
}

.faq__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  cursor: pointer;
}

.faq__text {
  margin: 0;
  max-width: 520px;
}

.faq__buttons {
  position: absolute;
  top: 0;
  right: 60px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 17px;
  height: 10px;
  padding: 0;
  background-image: url("../img/down-button.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.faq__buttons:hover,
.faq__buttons:focus {
  opacity: 0.5;
}

.faq__text--active {
  display: block;
}

.faq__buttons--active {
  background-image: url("../img/up-button.svg");
}

.hidden {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .faq {
    margin-bottom: 84px;
  }

  .faq__inner {
    padding: 0 100px;
  }

  .faq__buttons,
  .faq__buttons svg {
    width: 23px;
    height: 12px;
  }

  .faq__buttons {
    top: 0;
    right: 70px;
  }
}

@media (max-width: $max-mobile-width) {
  .faq {
    margin-bottom: 70px;
  }

  .faq__inner {
    padding: 0 15px;
  }

  .faq__table {
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .faq__item {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 37px;
  }

  .faq__title {
    max-width: 100%;
    font-size: 16px;
    line-height: 22.4px;
  }

  .faq__text {
    max-width: 100%;
    font-size: 14px;
    line-height: 19.6px;
  }

  .faq__buttons {
    top: 2px;
    right: 35px;
  }
}
