.footer {
  background-color: $dark-black;
  color: $white;
  position: relative;
}

.footer__form {
  display: flex;
}

.footer__inner {
  padding: 90px 0 92px 79px;
  display: flex;
  max-width: 1312px;
  padding-right: 0;
}

.footer__information {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  position: relative;
}

.footer__information::after {
  content: "";
  position: absolute;
  bottom: 21px;
  background-repeat: no-repeat;
  height: 1px;
  min-width: 500px;
  border: 1px solid $white;
}

.footer__title,
.footer__text {
  margin-top: 0;
}

.footer__title {
  margin-bottom: 7px;
  margin-top: 0;
  font-family: "Cormorant-Garamond", "Arial", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: 0.5px;
}

.footer__text {
  margin-bottom: 46px;
  color: $grey;
}

.footer input {
  border: none;
  background-color: $dark-black;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  min-width: 344px;
  max-height: 20px;
  color: $white;
}


.footer__sign-up span {
  color: $white;
  font-weight: 500;
}

.footer__sign-up {
  position: relative;
  background-color: inherit;
  border: none;
  min-width: 79px;
  cursor: pointer;
  margin-left: 42px;
}

.footer__sign-up:hover,
.footer__sign-up:focus {
  opacity: 0.5;
}

.footer__sign-up::after {
  content: "";
  position: absolute;
  left: 74px;
  top: 6px;
  background-repeat: no-repeat;
  width: 29px;
  height: 11px;
  background-image: url("../img/arrow-right-footer-icon.svg");
}

.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 742px;
  padding-top: 7px;
  grid-gap: 69px;
  padding-left: 54px;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__sign-up:hover,
.footer__sign-up:focus,
.footer__item:hover,
.footer__item:focus {
  opacity: 0.5;
}

.footer__link span {
  color: $white;
}

.footer__link svg {
  color: $white;
}

.social__text {
  padding-left: 10px;
}

@media (max-width: $max-tablet-width) {
  .footer__inner {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    padding: 51px 45px;
    padding-bottom: 35px;
  }

  .footer__links {
    padding-top: 59px;
    padding-left: 0;
  }

  .footer__information::after {
    bottom: -11px;
  }

  .footer input {
    min-width: 454px;
  }
}

@media (max-width: $max-mobile-width) {
  .footer__inner {
    max-width: 500px;
    padding: 49px 15px;
  }

  .footer__information {
    padding-right: 0;
  }

  .footer__text {
    padding-right: 43px;
  }

  .footer__title {
    padding-right: 80px;
    margin-bottom: 14px;
  }

  .footer input {
    min-width: 185px;
  }

  .footer__links {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  .social {
    display: flex;
  }

  .social__item:not(:last-child) {
    padding-right: 30px;
  }

  .social__text {
    display: none;
  }

  .footer__information::after {
    min-width: 290px;
  }


}
