.gallery {
  margin-bottom: 132px;
}

.gallery__inner {
  max-width: 1170px;
  padding-left: 0;
  padding-right: 0;
}

.gallery__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Cormorant-Garamond", "Arial", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: 3px;
}

.gallery__link {
  font-weight: 500;
  position: relative;
}

.gallery__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-repeat: no-repeat;
  height: 1px;
  width: 74px;
  border: 1px solid $brown;
}

.gallery__link:hover,
.gallery__link:focus {
  opacity: 0.5;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 1fr 401px 1fr 1fr;
  grid-template-rows: 230px 150px;
  grid-column-gap: 27px;
  grid-row-gap: 34px;
}

@media (max-width: 1170px) {
  .gallery__pictures {
    grid-template-columns: 1fr 358px 1fr 1fr;
    grid-template-rows: 200px 120px;
    grid-column-gap: 33px;
    grid-row-gap: 37px;
  }
}

@media (max-width: 1024px) {
  .gallery__pictures {
    grid-template-columns: 1fr 351px 1fr 1fr;
    grid-template-rows: 200px 120px;
    grid-column-gap: 33px;
    grid-row-gap: 37px;
  }
}

.gallery__image:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.gallery__image:nth-child(7) {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}


@media (max-width: $max-tablet-width) {
  .gallery {
    margin-bottom: 80px;
  }

  .gallery__inner {
    max-width: 678px;
  }

  .gallery__pictures {
    grid-template-columns: 1fr 231px 1fr 1fr;
    grid-template-rows: 133px 87px;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }
}

@media (max-width: $max-mobile-width) {
  .gallery__image--mobile {
    display: none;
  }

  .gallery__inner {
    max-width: 290px;
  }

  .gallery__pictures {
    grid-template-columns: 133px 133px;
    grid-template-rows: 133px 87px 87px;
    grid-column-gap: 24px;
    grid-row-gap: 27px;
    justify-items: center;
    max-width: 680px;
  }

  .gallery__image img {
    //min-width: 133px;
    //min-height: 87px;
    object-fit: cover;
  }

  .gallery__image:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .gallery__image:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .gallery__image:nth-child(5) {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .gallery__image:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .gallery__image:nth-child(2) img {
    min-height: 247px;
  }

  .gallery__image:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery__image:nth-child(7) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}


