.navigation__upper-part {
  display: flex;
  max-width: 1366px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  margin-bottom: 37px;
}

.navigation__inner {
  margin-top: 30px;
  margin-bottom: 19px;
}

.navigation__login-cart {
  padding-top: 17px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 35px;
}

.navigation__login:hover,
.navigation__login:focus,
.navigation__cart-desktop:hover,
.navigation__cart-desktop:focus {
  opacity: 0.5;
}

.navigation__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
  max-width: 145px;
  max-height: 20px;
  margin-top: 17px;
}

.navigation__upper-part::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 20px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-image: url("../img/search-icon.svg");
}

.navigation__logo,
.navigation__logo svg {
  color: $brown;
}

.navigation__menu {
  justify-content: center;
  display: flex;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content min-content;
  max-width: 495px;
  grid-gap: 35px;
  justify-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $red;
}

.navigation__link--active:hover,
.navigation__link--active:focus {
  color: $black;
}

.navigation__link--active {
  color: $red;
}
