.navigation__upper-part {
  display: flex;
  max-width: 1366px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  margin-bottom: 37px;
}

.navigation__inner {
  padding-top: 30px;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
}

.navigation__login-cart {
  padding-top: 17px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 35px;
}

.navigation__login:hover,
.navigation__login:focus,
.navigation__cart-desktop:hover,
.navigation__cart-desktop:focus {
  opacity: 0.5;
}

.navigation__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
  max-width: 145px;
  max-height: 20px;
  margin-top: 17px;
}

.navigation__upper-part::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 20px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-image: url("../img/search-icon.svg");
}

.navigation__logo,
.navigation__logo svg {
  color: $brown;
}

.navigation__menu {
  justify-content: center;
  display: flex;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content min-content;
  max-width: 495px;
  grid-gap: 35px;
  justify-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $red;
}

.navigation__link--active:hover,
.navigation__link--active:focus {
  color: $black;
}

.navigation__link--active span {
  color: $red;
}

.navigation__item--tablet,
.navigation__input-tablet,
.navigation__toggle,
.navigation__menu-tablet,
.navigation__link-login {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .navigation__input,
  .navigation__login,
  .navigation__cart-desktop {
    display: none;
  }

  .navigation__link-login {
    display: block;
  }

  .navigation__inner {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .navigation__login-cart {
    padding-top: 0;
    width: 18px;
    height: 18px;
  }

  .navigation__cart-mobile {
    background-image: url("../img/shop-icon-opened-menu.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
  }

  .navigation__cart-mobile--active {
    background-image: url("../img/shop-icon.svg");
  }

  .navigation__login-cart,
  .navigation__toggle {
    margin-top: 25px;
  }

  .navigation__upper-part::before {
    width: 16px;
    height: 16px;
    background-image: url("../img/search-icon-tablet.svg");
    background-repeat: no-repeat;
    left: 58px;
    top: 92px;
  }

  .navigation__input-tablet {
    max-width: 1023px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    padding: 0 45px;
  }

  .navigation__input-tablet-menu {
    font-weight: 500;
    min-width: 100%;
    min-height: 40px;
    border-radius: 21px;
    border: 1px solid $brown;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .navigation {
    background-color: $brown;
  }

  .navigation__upper-part {
    max-width: 1023px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 95px;
  }

  .navigation__item--tablet,
  .navigation__input-tablet {
    display: block;
  }

  .navigation__toggle {
    display: block;
    border: none;
    background-color: inherit;
    width: 25px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    background-image: url("../img/burger-menu-opened.svg");
    background-repeat: no-repeat;
  }

  .navigation__toggle--active {
    background-image: url("../img/burger-menu-closed.svg");
  }

  .navigation__logo svg {
    color: $white;
  }

  .navigation__menu {
    justify-content: start;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1023px;
  }

  .navigation__list-tablet {
    grid-template-columns: 1fr;
    justify-items: start;
    padding-left: 0;
    margin-bottom: 35px;
    margin-top: 0;
    color: $menu-tablet;
  }

  .navigation__link-login,
  .navigation__list-tablet {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
  }

  .navigation__item--tablet {
    margin-bottom: 30px;
  }

  .navigation__list {
    grid-template-columns: 1fr;
    justify-items: start;
    grid-gap: 40px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 55px;
  }

  .navigation__link span {
    color: $white;
  }

  .navigation__link--tablet span {
    color: $menu-tablet;
  }

  .hidden {
    display: none;
  }

  .no-scroll {
    overflow: hidden;
  }

  .navigation__inner--open {
    background-color: $brown;
    padding-bottom: 80px;
  }

  .navigation__logo--open {
    color: $brown;
  }

  .navigation__upper-part--open {
    margin-bottom: 95px;
  }
}

@media (max-width: $max-mobile-width) {
  .navigation__top {
    display: flex;
    flex-direction: column;
  }

  .navigation__input-tablet {
    padding: 0 15px;
  }

  .navigation__upper-part,
  .navigation__menu {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation__upper-part::before {
    left: 34px;
  }

  .navigation__input-tablet-menu {
    min-width: 100%;
  }
}
