$white: #ffffff;
$primary-color: #283645;
$secondary-color: #d22856;
$super-light-red: #df6889;
$light-white: #babfc2;
$primary-bg-color: #f2f2f2;
$light-grey: #e5e5e5;
$super-light-grey: #ededed;
$dark:#1d2631;
$light-red:#fbbfcc;
$green: #2aab6d;
$dark-green: #1c9b5e;
$light-green: #60b98e;
$light-grey: #e5e5e5;
$dark-blue:#000000;
$super-light-red:#55344f;
$timer-color: #dedede;
$upload-button-active: #df6889;
$border-menu: #485461;
