$white: #ffffff;
$brown: #a87b62;
$light-brown: #f0eae4;
$black: #1d1613;
$red: red;
$borders: #f6f5f4;
$grey: #9b9997;
$cards: #f0eae4;
$dark-black: #000000;
$login-bg: #f0eae4;
$menu-tablet: #e9ded8;
